<input id="poke_name_entry" class="text-input" [(ngModel)]="searchValue">
<div id="poke_header" class="row">
    <div id="image_section" class="column">
        <img src="" class="image-view">
    </div>
    <div id="poke_header_section" class="column">
        <label class="poke-data">Name: {{ pokemon?.name }}</label>
        <label class="poke-data">Color: {{ pokemon?.color }}</label>
        <label class="poke-data">Type: {{ types[0] }} {{ types[1] }}</label>
    </div>
</div>
<div id="family_size" class="row">
    <div id="family_info_section" class="column">
        <label class="poke-data">Family Members: {{ familyData?.length }}</label>
        <label class="poke-data">Evolution Number: {{ pokemon?.evonum }}</label>
    </div>
    <div id="size_section" class="column">
        <label class="poke-data">Height: {{ pokemon?.height }}</label>
        <label class="poke-data">Weight: {{ pokemon?.weight }}</label>
    </div>
</div>
<div id="family_stat" class="row">
    <div id="family_section" class="column">
        <label class="poke-data">Family Members:</label>
        <br>
        <ul *ngFor="let familyMember in familyData"></ul>
    </div>
    <div id="stat_section" class="column">
        <label class="poke-data">Hp: {{ pokemon?.hp }}</label>
        <label class="poke-data">Attack: {{ pokemon?.attack }}</label>
        <label class="poke-data">Defense: {{ pokemon?.defense }}</label>
        <label class="poke-data">Sp. Atk: {{ pokemon?.spatk }}</label>
        <label class="poke-data">Sp. Def: {{ pokemon?.spdef }}</label>
        <label class="poke-data">Speed: {{ pokemon?.speed }}</label>
    </div>
</div>