#family_section {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
}

#guess_section {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
}

#stat_section {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
}

#guess_bar {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

#poke_name_entry {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 65%;
}

#search_button {
    position: absolute;
    bottom: 0;
    left: 65%;
    width: 35%;
}