#family_section {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
}

#guess_section {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
}

#stat_section {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
}

#poke_name_entry {
    position: fixed;
    bottom: 0;
    width: 100%;
}