/* You can add global styles to this file, and also import other style files */
body {
    background-color: black;
    color: white;
}

div {
    border: 1px solid red;
    position: relative;
}

.row {
    width: 100%;
    float: left;
    display: block;
}

.column {
    width: 100%;
}

.poke-data {
    width: auto;
    color: white;
}

.poke-data-header {
    width: min-content;
    margin-left: 5%;
    font-weight: bolder;
    color: goldenrod;
}