/* You can add global styles to this file, and also import other style files */
div {
    border: 1px solid red;
    position: relative;
}

.row {
    width: 100%;
    float: left;
    display: block;
}

.column {
    width: 50%;
}

.poke-data {
    width: auto;
}

.poke-data-header {
    width: min-content;
    margin-left: 5%;
}